:root {
  --primary: #5e22e6;
  --secondary: #0a1f44;
  --primary-invert: #fff;
  --secondary-invert: #fff;

  --gradient-primary: linear-gradient(230deg, #c14ee5, #884ee5);
  --gradient-secondary: linear-gradient(230deg, #0a1f44, #020024);

  /* DEFAULT COLOR OF TEXTS */
  --text-primary: #0a1f44;

  /* FOR BUTTONS & INPUTS */
  --elements-roundness: 10rem;

  --space-between-blocks: 5.3rem;
  /* for mobiles */
  --space-between-blocks-small-screens: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-primary);
  background: #000;
}

.space-between-blocks {
  padding-top: var(--space-between-blocks-small-screens);
  padding-bottom: var(--space-between-blocks-small-screens);
}

@media (min-width: 992px) {
  .space-between-blocks {
    padding-top: var(--space-between-blocks);
    padding-bottom: var(--space-between-blocks);
  }
}

/* Buttons */

button {
  color: inherit;
  padding: 0;
  background: none;
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  font-size: 0.87rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: var(--elements-roundness);
  transition: 0.2s all;
}

@media (min-width: 992px) {
  .btn {
    padding: 0.8rem 2rem;
  }
}

.btn,
.btn:hover,
.btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--gradient-primary, --primary);
  color: var(--primary-invert);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--gradient-secondary, --secondary);
  color: var(--secondary-invert);
}

.btn-primary--empty,
.btn-primary--empty:hover,
.btn-primary--empty:focus {
  color: var(--primary);
}

.btn-sm {
  padding: 0.8rem;
}

.highlight {
  color: var(--primary)
}

/* block header */

.block__header {
  margin-bottom: 4rem;
}

.block__title {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.4;
}

@media(min-width: 992px) {
  .block__title {
    font-size: 2.5rem;
  }

  .block__title--big {
    font-size: 3rem;
    line-height: 1.1;
  }
}

@media(min-width: 1200px) {
  .block__title--big {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

.block__paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  opacity: .9;
}

@media(min-width: 992px) {
  .block__paragraph--big {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

/* Icons */

.fr-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
  background: rgba(0,0,0,0.04);
  margin-bottom: 1.5rem;
  transition: .5s;
}

.fr-icon--medium {
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.fr-icon--large {
  font-size: 1.2rem;
  height: 3.25rem;
  width: 3.25rem;
}

@media (min-width: 992px) {
  .fr-icon--large {
    height: 3.8rem;
    width: 3.8rem;
    font-size: 1.9rem;
  }
}

/*------------------------------*/
/*--Section Name----------------*/
/*------------------------------*/
.block-63 {
  --block-background: #f9f9f9;
  --block-text-color: var(--text-primary);
  background-image: url("blue.png");
  color: var(--block-text-color)
}

.block-63__logo-container {
  text-align: center;
  margin-bottom: 4rem
}

.block-63__logo {
  height: 60px
}

.auth-form {
  border-radius: 8px;
  padding: 2.5rem 2rem;
  margin: 0 -.5rem;
  background: #27282f;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .09)
}

@media (min-width:500px) {
  .auth-form {
    padding: 2.5rem 1.4rem
  }
}

@media (min-width:768px) {
  .auth-form {
    padding: 2.5rem
  }
}

.auth-form__title {
  text-align: center;
  color: #fff;
  font-size: 1.13rem;
  font-weight: 600;
  margin-bottom: 2rem
}

.auth-form__input {
  width: 100%;
  padding: .9rem 1.4rem;
  font-size: .87rem;
  border-radius: 5px;
  border: 1px solid #e4e5e7;
  margin-bottom: .87rem
}

.auth-form__input:last-child {
  margin-bottom: 0
}

.auth-form__input:focus {
  border-color: var(--primary);
  background: rgba(0, 0, 0, .05);
  outline: 0;
  box-shadow: none
}

.border-bottom {
  border: 0;
  border-bottom: 1px solid #dee2e6
}

.auth-form__p {
  font-size: .9rem;
  line-height: 1.4;
  text-align: center
}

.btn-social {
  border-radius: 5px;
  font-size: .87rem;
  padding: .8rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%
}

.btn-facebook,
.btn-facebook:focus,
.btn-facebook:hover {
  background: #c251e5;
  border: 1px solid #c251e5;
  color: #fff;
  margin-bottom: .87rem
}

.btn-google,
.btn-google:focus,
.btn-google:hover {
  background: #fff;
  border: 1px solid #e4e5e7;
  color: #7a7d85;
  margin-bottom: 1rem
}

.auth-form__btn {
  border-radius: 5px
}

.form-separator {
  height: 12px;
  margin: 20px 0 32px;
  text-align: center;
  border-bottom: 1px solid #e4e5e7
}

.form-separator span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 8px;
  background-color: #fff;
  color: #62646a
}

.white{
  color: #fff;
}
.signup__link,
.signup__link:focus,
.signup__link:hover {
  text-decoration: none;
  color: #00eaad;
}

input, select, textarea{
    color: #000;
}

textarea:focus, input:focus {
    color: #fff;
}
